.tehtology {
    margin-top: 50px;
}
.tehtology_item {
    width: 270px;
    float: left;
    text-align: center;
}
.tehtology_item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.tehtology_item p {
    font-size: 14px;
    color: #777777;
    line-height: 1.55em;
}
.tehtology_item:last-child {
    float: right;
}
.tehtology_item:nth-child(2) {
    margin-left: 60px; 
}
#tehtology{
    padding-bottom: 120px;
}