body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 75vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}
article {
	width: 930px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-right: 200px;
}

nav {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    float: right;
    left: 0;
    top: 0;
    background: #000;
}

.menu{
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.menu a:hover {
	color: #fed136;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	margin: 15px;
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 15px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform:  uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.button:hover {
	background: #dbb121;
	color: #484543;
	border-radius: 15px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform:  uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
 	padding-top: 115px;	
}
.title h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;

}
.title p{
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.services {
	margin-top: 50px;
}
.services_item {
	width: 270px;
	float: left;
	text-align: center;
}
.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
.services_item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}
.services_item:last-child {
	float: right;
}
.services_item:nth-child(2) {
	margin-left: 60px; 
}
#services{
	padding-bottom: 120px;
}
#portfolio {
	background: #f7f7f7f7;
	padding-bottom: 120px;
}
.works {
	margin-top: 70px;
}
.works img {
	float: left;
}
.works img:nth-child(2) {
 	margin-left: 29px;
} 
.works img:last-child {
	float: right;
}
.about h3{
	font-size: 18px;
	margin-bottom: 5px;	
}
.about p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}
.about img{
	display: block;
	margin: auto;
}